body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #ffffff;
}

.App {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #00000080;
  width: 400px;
  max-height: 90vh; 
  display: flex;
  flex-direction: column;
  text-align: center;
}

.search-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #f4f4f9;
}

input[type="text"] {
  width: calc(100% - 100px);
  margin-bottom: 8px;
  padding: 10px;
  background-color: #333333;
  border: 1px solid #555555;
  border-radius: 4px;
  margin-right: 10px;
  color: #f4f4f9;
}

.error {
  color: #ff6b6b;
  margin: 10px 0;
  padding: 10px;
}

.user-details {
  overflow-y: auto;
  flex: 1;
}

.user-details img {
  border-radius: 50%;
}

.user-details h2 {
  margin: 10px 0;
}

.user-details ul {
  list-style: none;
  padding: 0;
}

.user-details li {
  background-color: #333333;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
}

.user-details a {
  text-decoration: none;
  color: #007bff;
}

.user-details a:hover {
  text-decoration: underline;
}
